{% extends "layout.html" %}

{% block title %}
    Messenger: Sign up
{% endblock %}

{% block main %}
    <div class="my-5">
        <h1>If you want to use Messenger you have to sing up</h1>
    </div>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-dark" type="submit">Register</button>
    </form>
{% endblock %}
